### Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
data =pd.read_csv("Iris_eda.csv",index_col=0)

In [5]:
data.head()

              sepal width  petal length  petal width         iris
sepal length
5.1                   3.5           1.4          0.2  Iris-setosa
4.9                   3.0           1.4          0.2  Iris-setosa
4.7                   3.2           1.3          0.2  Iris-setosa
4.6                   3.1           1.5          0.2  Iris-setosa
5.0                   3.6           1.4          0.2  Iris-setosa

In [7]:
labelencoder = LabelEncoder()
data.iloc[:, -1] = labelencoder.fit_transform(data.iloc[:,-1])

In [8]:
data

              sepal width  petal length  petal width  iris
sepal length
5.1                   3.5           1.4          0.2     0
4.9                   3.0           1.4          0.2     0
4.7                   3.2           1.3          0.2     0
4.6                   3.1           1.5          0.2     0
5.0                   3.6           1.4          0.2     0
...                   ...           ...          ...   ...
6.7                   3.0           5.2          2.3     2
6.3                   2.5           5.0          1.9     2
6.5                   3.0           5.2          2.0     2
6.2                   3.4           5.4          2.3     2
5.9                   3.0           5.1          1.8     2

[150 rows x 4 columns]

### One Hot Encoder

#### Using sklearn

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
data2=pd.read_csv("Iris_eda.csv")

In [25]:
data2

     sepal length  sepal width  petal length  petal width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [26]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [27]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['iris']]).toarray())

In [28]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [29]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     sepal length  sepal width  petal length  petal width    0    1    2
0             5.1          3.5           1.4          0.2  1.0  0.0  0.0
1             4.9          3.0           1.4          0.2  1.0  0.0  0.0
2             4.7          3.2           1.3          0.2  1.0  0.0  0.0
3             4.6          3.1           1.5          0.2  1.0  0.0  0.0
4             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
145           6.7          3.0           5.2          2.3  0.0  0.0  1.0
146           6.3          2.5           5.0          1.9  0.0  0.0  1.0
147           6.5          3.0           5.2          2.0  0.0  0.0  1.0
148           6.2          3.4           5.4          2.3  0.0  0.0  1.0
149           5.9          3.0           5.1          1.8  0.0  0.0  1.0

[150 rows x 7 columns]

#### Using Pandas

In [30]:
import pandas as pd

In [32]:
data3 =pd.read_csv("Iris_eda.csv",index_col=0)

In [33]:
data_encoded=pd.get_dummies(data3)

In [34]:
data_encoded

              sepal width  ...  iris_Iris-virginica
sepal length               ...
5.1                   3.5  ...                    0
4.9                   3.0  ...                    0
4.7                   3.2  ...                    0
4.6                   3.1  ...                    0
5.0                   3.6  ...                    0
...                   ...  ...                  ...
6.7                   3.0  ...                    1
6.3                   2.5  ...                    1
6.5                   3.0  ...                    1
6.2                   3.4  ...                    1
5.9                   3.0  ...                    1

[150 rows x 6 columns]

#### IsolationForest

In [35]:
from sklearn.ensemble import IsolationForest

In [42]:
data =pd.read_csv("Iris_eda.csv")
data_encoded=pd.get_dummies(data)

In [43]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.01,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=10, verbose=0, warm_start=False)

In [44]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [45]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [46]:
data_encoded

     sepal length  sepal width  ...  iris_Iris-versicolor  iris_Iris-virginica
0             5.1          3.5  ...                     0                    0
1             4.9          3.0  ...                     0                    0
2             4.7          3.2  ...                     0                    0
3             4.6          3.1  ...                     0                    0
4             5.0          3.6  ...                     0                    0
..            ...          ...  ...                   ...                  ...
145           6.7          3.0  ...                     0                    1
146           6.3          2.5  ...                     0                    1
147           6.5          3.0  ...                     0                    1
148           6.2          3.4  ...                     0                    1
149           5.9          3.0  ...                     0                    1

[150 rows x 7 columns]

In [47]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [48]:
data_encoded

     sepal length  sepal width  ...  iris_Iris-versicolor  iris_Iris-virginica
0             5.1          3.5  ...                     0                    0
1             4.9          3.0  ...                     0                    0
2             4.7          3.2  ...                     0                    0
3             4.6          3.1  ...                     0                    0
4             5.0          3.6  ...                     0                    0
..            ...          ...  ...                   ...                  ...
146           6.3          2.5  ...                     0                    1
147           6.5          3.0  ...                     0                    1
148           6.2          3.4  ...                     0                    1
149           5.9          3.0  ...                     0                    1
150          20.0         40.0  ...                     0                    0

[151 rows x 7 columns]

In [50]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [51]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [52]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [53]:
data_encoded

     sepal length  sepal width  ...    scores  anomaly
0             5.1          3.5  ...  0.202676        1
1             4.9          3.0  ...  0.177986        1
2             4.7          3.2  ...  0.176065        1
3             4.6          3.1  ...  0.181422        1
4             5.0          3.6  ...  0.194889        1
..            ...          ...  ...       ...      ...
146           6.3          2.5  ...  0.137119        1
147           6.5          3.0  ...  0.179265        1
148           6.2          3.4  ...  0.118457        1
149           5.9          3.0  ...  0.148669        1
150          20.0         40.0  ... -0.289272       -1

[151 rows x 9 columns]

In [54]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

     sepal length  sepal width  ...    scores  anomaly
106           4.9          2.5  ... -0.008885       -1
150          20.0         40.0  ... -0.289272       -1

[2 rows x 9 columns]

### PPS score

In [55]:
#install the package
!pip install ppscore

Collecting ppscore
  Downloading https://files.pythonhosted.org/packages/f7/25/5d7bc56240da13ef3be08ca4b6c61747d3ca3f8db649e67d97016a0629c8/ppscore-1.2.0.tar.gz (47kB)
     |████████████████████████████████| 51kB 2.0MB/s
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ppscore) (1.1.5)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from ppscore) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13050 sha256=5bc8566053123a8cf342f60005711801a28c89eec5b7f3fc7ea4f19fba337722
  Stored in directory: /root/.cache/pip/wheels/50/cc/8f/d0da07e4ec4e7a4c4cf32aee9057e4d1c318de910543b4684e
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [56]:
import ppscore as pps

In [60]:
data.axes

[RangeIndex(start=0, stop=150, step=1),
 Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')]

In [ ]:
data

In [64]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "sepal length", "petal length")

{'baseline_score': 1.488,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best'),
 'model_score': 0.6687445810472126,
 'ppscore': 0.5505748783284862,
 'x': 'sepal length',
 'y': 'petal length'}

In [65]:
#calculate the whole PPS matrix
pps.matrix(data)

               x  ...                                              model
0   sepal length  ...                                               None
1   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
2   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
3   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
4   sepal length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
5    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
6    sepal width  ...                                               None
7    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
8    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
9    sepal width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
10  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
11  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
12  petal length  ...                                               None
13  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
14  petal length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
15   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
16   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
17   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
18   petal width  ...                                               None
19   petal width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
20          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
21          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
22          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
23          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
24          iris  ...                                               None

[25 rows x 9 columns]